@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Source+Sans+Pro:400,400i,700');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 7.5px;
  line-height: 1.25;
  color: #212121
}

body {
  font-family: source_sans_pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  color: #616161
}

.container {
  position: relative;
  display: block;
  margin-top: 4rem;
  font-size: 1.7rem;
}

.main-wrapper {
  position: relative;
  display: block;
}

.header {
  width: 100%;
  margin-bottom: 4rem;
}

.main {
  width: 100%
}

.aside {
  position: absolute;
}

.header .avatar {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 0.8rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-size: cover;
  background-position: center center
}

.header .name {
  display: block;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 400;
  font-size: 7rem;
  text-transform: uppercase;
  text-align: center;
}

.header .info-block {
  display: block;
  text-align: center
}

.header .info-block .current-position {
  display: inline-block;
  font-size: 2rem;
  color: #9e9e9e;
  margin-right: 1.6rem;
  white-space: nowrap
}

.header .info-block .city {
  display: inline-block;
  font-size: 1.6rem;
  color: #9e9e9e;
  margin-right: 1.6rem;
  padding-left: 2.2rem;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap
}

.header .info-block .city:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgMkM4LjEzIDIgNSA1LjEzIDUgOWMwIDUuMjUgNyAxMyA3IDEzczctNy43NSA3LTEzYzAtMy44Ny0zLjEzLTctNy03em0wIDkuNWEyLjUgMi41IDAgMCAxIDAtNSAyLjUgMi41IDAgMCAxIDAgNXoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8%2BPC9zdmc%2B);
  width: 1.6rem;
  height: 1.6rem;
  background-size: contain;
  background-repeat: no-repeat
}

.header .info-block .phone {
  display: inline-block;
  font-size: 1.6rem;
  color: #9e9e9e;
  padding-left: 1.8rem;
  border-left: 1px solid #9e9e9e;
  white-space: nowrap
}

.experience-group {
  margin-bottom: 4rem
}

.experience-group .group-title {
  position: relative;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  padding-bottom: 1.8rem;
  padding-left: 4.4rem;
  text-transform: uppercase;
  page-break-inside: avoid;
  page-break-after: avoid
}

.experience-group .group-title h2 {
  font-size: 3rem;
}

.experience-group .group-title>span {
  margin-right: 0.2rem
}

.experience-group .material-icons {
  position: absolute;
  top: 2px;
  left: -2px;
}

.experience-group .group-content {
  padding-left: 0;
  border-left: 0.2rem solid #212121;
  margin-left: 1.2rem;
  position: relative
}

.experience-group .experience-item {
  padding-left: 3rem;
  margin-bottom: 2.4rem;
  position: relative;
  clear: both
}

.experience-group .experience-item.profile:before {
  display: none
}

.experience-group .experience-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.6rem;
  left: -0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.15rem solid #212121;
  border-radius: 1rem;
  background: #fff
}

.experience-group .item-title {
  font-weight: bold;
  font-size: 2rem;
  margin-right: 2rem;
  margin-bottom: 0.8rem;
}

.experience-group .item-caption {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1.6rem;
  color: #757575
}

.experience-group .tech-stack {
  margin-top: 1rem;
  font-size: 2rem;
}

.experience-group .tech-stack>strong {
  color: #188355;
}

.experience-group .item-description {
  line-height: 1.5;
  font-size: 2rem;
  color: #757575
}

.experience-group .item-description strong {
  font-weight: bold;
  margin-left: 0.1rem
}

.experience-group .item-description span {
  text-decoration: underline
}

.experience-group .item-description ul,
.experience-group .item-description ol {
  margin: 0.8rem 0;
  list-style-position: outside;
  padding-left: 3.5rem
}

.aside .aside-group {
  margin-bottom: 4rem;
  padding: 0 0.6rem
}

.aside .title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem
}

.aside .title>span {
  margin: 0 0.1rem
}

.aside .title:before,
.aside .title:after {
  content: '';
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border: 0.15rem solid #212121;
  border-radius: 1rem;
  background: #fff;
  margin: 0 1.6rem;
  position: relative;
  bottom: 0.3rem
}

.aside .text .material-icons {
  vertical-align: middle;
  font-size: 30px;
}

.aside .text i {
  margin-right: 10px;
  vertical-align: middle;
}

.aside .sub-title {
  font-size: 2rem;
  font-weight: bold;
}

.aside .section {
  margin-bottom: 2.3rem
}

.aside .social-profile__link {
  display: block;
  color: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word
}

.aside .section .label {
  text-transform: uppercase;
  color: #9e9e9e;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.4rem
}

.aside .section .text,
.aside .section p {
  line-height: 1.5;
  font-size: 2rem
}

.aside .section .text.highlighted {
  text-decoration: underline
}

.aside .progress {
  width: 80%;
  margin: 0 auto;
  height: 0.4rem;
  background: #eeeeee;
  margin-top: 1rem;
  margin-bottom: 2.4rem
}

.aside .progress .progress-inner {
  width: 0%;
  height: 100%;
  background: #212121
}