<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' media='all' href='css/main.css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous" />
  <title>Byeong Kim</title>
</head>

<body class="body--share">
  <div class="container">
    <div class="row main-wrapper">

      <aside class="col-12 col-lg-4 col-md-4 aside">
        <header class="header">
          <h1 class="name">Byeong Kim</h1>
          <div class="info-block">
            <div class="current-position">Full Stack Web Developer</div>
          </div>
        </header>

        <div class='row'>
          <article class="col-lg-12 col-md-12 col-sm-6 aside-group">
            <h2 class='title'>Details</h2>
            <section class="section">
              <div class="text phone">
                <i class="material-icons">perm_phone_msg</i>
                <a href='tel:17788873994'>778-887-3994</a>
              </div>
              <div class="text highlighted">
                <i class="material-icons">email</i>
                <a href="mailto: byeong.kim0430@gmail.com">byeong.kim0430@gmail.com</a>
              </div>
              <a class="text highlighted social-profile__link" href="https://github.com/byeong0430" target="_blank">
                <i class="fab fa-github fa-2x"></i>
                Github
              </a>
              <a class="text highlighted social-profile__link" href="https://byeong0430.github.io/" target="_blank">
                <i class="material-icons">language</i>
                Website
              </a>
              <a class="text highlighted social-profile__link" href="https://www.linkedin.com/in/byeong-gyu-kim/"
                target="_blank">
                <i class="fab fa-linkedin-in fa-2x"></i>
                LinkedIn
              </a>
            </section>
          </article>

          <article class="col-lg-12 col-md-12 col-sm-6 aside-group">
            <h2 class='title'>Skills</h2>
            <section class="section">
              <h3 class='sub-title'>Languages & Frameworks</h3>
              <p>JavaScript, React, React Native, Python, Django, PHP</p>
              <h3 class='sub-title'>Databases</h3>
              <p>PostgreSQL, MongoDB, MySQL</p>
              <h3 class='sub-title'>Others</h3>
              <p>Redux, Git, Heroku, AWS, Linux, ExpressJS</p>
              <h3 class='sub-title'>Spoken Languages</h3>
              <p>English, Korean</p>
            </section>
          </article>
        </div>

      </aside>

      <main class="col-12 col-lg-8 col-md-8 main">
        <article class="experience-group">
          <div class="group-title">
            <i class="material-icons">face</i>
            <h2>Profile</h2>
          </div>
          <div class="group-content">
            <div class="experience-item profile">
              <div class="item-description">
                Full stack web developer with a passion in creating tools to connect people to information
                relevant to their lives.I have strong emphasis on clean, modular code, and user-centered design.<br />
                I also enjoy creating applications and learn new technologies on my own time.
              </div>
            </div>
          </div>
        </article>

        <article class="experience-group">
          <div class="group-title">
            <i class="material-icons">work_outline</i>
            <h2>Employment History</h2>
          </div>
          <div class="group-content">
            <div class="experience-item" style="page-break-inside: avoid;">
              <div>
                <span class="item-title">Front End Developer - Satel Creative</span>
                <span class="item-caption">August 2018 – January 2019</span>
              </div>
              <h4 class='tech-stack'>Tech Stack: <strong>JavaScript/jQuery, Python, CSS, Sass</strong></h4>
              <div class="item-description">
                - Developed features for custom Shopify web applications in JavaScript
                <br>
                - Took initiative to develop Python scripts for client data processing, reducing time to process by 50%
                <br>
                - Implemented web app design using CSS and Sass
                in compliance with WAI-ARIA (Web Accessibility Initiative – Accessible Rich Internet Applications)
              </div>
            </div>

            <div class="experience-item" style="page-break-inside: avoid;">
              <div>
                <span class="item-title">Air Quality Specialist - WSP</span>
                <span class="item-caption">August 2016 – May 2018</span>
              </div>
              <h4 class='tech-stack'>Tech Stack: <strong>JavaScript/jQuery, PHP, HTML, CSS, MySQL</strong></h4>
              <div class="item-description">
                - Self-taught JavaScript, HTML, and CSS
                <br>
                - Redesigned and developed the client-facing website with features including graphs and tables built
                using jQuery
                <br>
                - Established normalized MySQL database schema across all client datasets to enable modular data
                analysis
                <br>
                - Designed and implemented efficient data processing using R and reduced daily input time by 75%
              </div>
            </div>
          </div>
        </article>

        <article class="experience-group">
          <div class="group-title">
            <i class="material-icons">bookmark_border</i>
            <h2>Education</h2>
          </div>
          <div class="group-content">
            <div class="experience-item" style="page-break-inside: avoid;">
              <div>
                <span class="item-title">Full Stack Developer Diploma - Lighthouse Labs</span>
                <span class="item-caption">Graduated August 2018</span>
              </div>
              <h4 class='tech-stack'>Tech Stack: <strong>JavaScript/jQuery, NodeJS, Express, Postgres, MongoDB, HTML5,
                  SASS, CSS</strong></h4>
              <div class="item-description">
                - 10-week intensive bootcamp. Improved ability to write cleaner and more modular code.
              </div>
            </div>
          </div>
        </article>

        <article class="experience-group">
          <div class="group-title">
            <i class="material-icons">code</i>
            <h2>Projects</h2>
          </div>
          <div class="group-content">
            <div class="experience-item" style="page-break-inside: avoid;">
              <div>
                <span class="item-title">You Got Owned (Personal Project), Vancouver</span>
                <span class="item-caption">November 2018 – Present</span>
              </div>
              <h4 class='tech-stack'>Tech Stack: <strong>React Native, Redux</strong></h4>
              <div class="item-description">
                - Developing a mobile platform that uses a user's current / selected location to display a list
                of U.S. politicians and how much donation they received
                <br>
                - Learned how to efficiently manage state using Redux
              </div>
            </div>
            <div class="experience-item" style="page-break-inside: avoid;">
              <div>
                <span class="item-title">Noelle Floyd, Vancouver</span>
                <span class="item-caption">August 2018 – January 2019</span>
              </div>
              <h4 class='tech-stack'>Tech Stack: <strong>JavaScript, Liquid Templating Language, Sass</strong></h4>
              <div class="item-description">
                Noelle Floyd is an online magazine subscription service.<br>I created the landing page and
                a video dashboard using HTML, Sass, JavaScript, and Liquid templating language, which interacts
                with Shopify API to display their products.
              </div>
            </div>
            <div class="experience-item" style="page-break-inside: avoid;">
              <div>
                <span class="item-title">TableFourMe (Lighthouse Labs Final Project), Vancouver</span>
                <span class="item-caption">July 2018 – August 2018</span>
              </div>
              <h4 class='tech-stack'>Tech Stack: <strong>React, Webpack, Babel, NodeJS, ExpressJS, PostgreSQL, Sass</strong></h4>
              <div class="item-description">
                - A full-stack web app to manage restaurant reservations and order placements
                <br>
                - Contributed to React state management and styling using Sass
              </div>
            </div>
          </div>
        </article>
      </main>

    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>
<!-- ---
layout: default
---

<div class="home">
  {% include about.html %}
  {% include projects.html %}
  {% include experience.html %}
  {% include skills.html %}
  {% include education.html %}
</div> -->