<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' media='all' href='css/main.css'>
  <title>Document</title>
</head>

<body class="body--share">
  <div class="preview-box">
    <div class="container">
      <div class="header">
        <div class="name"><span>B</span><span>y</span><span>e</span><span>o</span><span>n</span><span>g</span><span>
          </span><span>K</span><span>i</span><span>m</span></div>
        <div class="info-block">
          <div class="current-position">Full Stack Web Developer</div>
          <div class="phone">1 778 887 3994</div>
        </div>
      </div>
      <div class="main-wrapper">
        <div class="main">
          <div class="experience-group">
            <div class="group-title">
              <div class="group-title-icon profile"></div><span>P</span><span>r</span><span>o</span><span>f</span><span>i</span><span>l</span><span>e</span>
            </div>
            <div class="group-content">
              <div class="experience-item profile">
                <div class="item-description">
                  <div>Full stack web developer with a passion in creating tools to connect people to information
                    relevant to their lives.</div>
                  <div>I have strong emphasis on clean, modular code, and user-centered design.&nbsp;</div>
                  <div>I also enjoy creating applications and learn new technologies on my own time.&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
          <div class="experience-group">
            <div class="group-title">
              <div class="group-title-icon work"></div><span>E</span><span>m</span><span>p</span><span>l</span><span>o</span><span>y</span><span>m</span><span>e</span><span>n</span><span>t</span><span>
              </span><span>H</span><span>i</span><span>s</span><span>t</span><span>o</span><span>r</span><span>y</span>
            </div>
            <div class="group-content">
              <div class="experience-item" style="page-break-inside: avoid;">
                <div class="item-title">Front End Developer at Satel Creative, Vancouver</div>
                <div class="item-caption">August 2018 – January 2019</div>
                <div class="item-description">
                  <div>- Developed features for custom Shopify web applications in <strong>JavaScript</strong> <br>-
                    Took initiative to develop <strong>Python</strong> scripts for client data processing, reducing
                    time to process by 50% <br>- Implemented web app design using <strong>CSS</strong> and <strong>Sass</strong>
                    in compliance with WAI-ARIA (Web Accessibility Initiative – Accessible Rich Internet
                    Applications)&nbsp;</div>
                </div>
              </div>
              <div class="experience-item" style="page-break-inside: avoid;">
                <div class="item-title">Air Quality Specialist at WSP, Vancouver</div>
                <div class="item-caption">August 2016 – May 2018</div>
                <div class="item-description">
                  <div>- Self-taught <strong>JavaScript</strong>, <strong>HTML</strong>, and <strong>CSS</strong> <br>-
                    Redesigned and developed the client-facing website with features including graphs and tables built
                    using <strong>jQuery<br>-&nbsp;</strong>Established normalized <strong>MySQL</strong> database
                    schema across all client datasets to enable modular data analysis <br>- Designed and implemented
                    efficient data processing using<strong> R </strong>and reduced daily input time by 75%&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
          <div class="experience-group">
            <div class="group-title">
              <div class="group-title-icon education"></div><span>E</span><span>d</span><span>u</span><span>c</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span>
            </div>
            <div class="group-content">
              <div class="experience-item" style="page-break-inside: avoid;">
                <div class="item-title">Lighthouse Labs, Vancouver</div>
                <div class="item-caption">August 2018</div>
                <div class="item-description">
                  <p><b>Degree: Full Stack Developer Diploma</b></p>
                  <p></p>
                  <div>- 10-week intensive bootcamp. Improved ability to write cleaner and more modular code.&nbsp;<br>-
                    Javascript/jQuery, NodeJS, Express, Postgres, MongoDB, HTML5, SASS, CSS</div>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="experience-group">
            <div class="group-title">
              <div class="group-title-icon custom-section"></div>
            </div>
            <div class="group-content">
              <div class="experience-item" style="page-break-inside: avoid;">
                <div class="item-title">You Got Owned (Personal Project), Vancouver</div>
                <div class="item-caption">November 2018 – Present</div>
                <div class="item-description">
                  <div>- Developing a mobile platform that uses a user's current / selected location to display a list
                    of U.S. politicians and how much donation they received<br>- Learned how to efficiently manage
                    state using Redux<br><br>Tech Stack: <strong>React Native, Redux</strong>
                  </div>
                </div>
              </div>
              <div class="experience-item" style="page-break-inside: avoid;">
                <div class="item-title">Noelle Floyd, Vancouver</div>
                <div class="item-caption">August 2018 – January 2019</div>
                <div class="item-description">
                  <div>Noelle Floyd is an online magazine subscription service.&nbsp;<br>I created the landing page and
                    a video dashboard using HTML, Sass, JavaScript, and Liquid templating language, which interacts
                    with Shopify API to display their products.&nbsp;</div>
                </div>
              </div>
              <div class="experience-item" style="page-break-inside: avoid;">
                <div class="item-title">TableFourMe (Lighthouse Labs Final Project), Vancouver</div>
                <div class="item-caption">July 2018 – August 2018</div>
                <div class="item-description">
                  <div>- A full-stack web app to manage restaurant reservations and order placements<br>- Contributed
                    to React state management and styling using Sass<br><br>Skills: React, Webpack, Babel, NodeJS,
                    ExpressJS, PostgreSQL, Sass</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aside">
          <div class="aside-group">
            <div class="title"><span>D</span><span>e</span><span>t</span><span>a</span><span>i</span><span>l</span><span>s</span></div>
            <div class="section">
              <div class="text"></div>
              <div class="text">1 778 887 3994</div>
              <div class="text highlighted">byeong.kim0430@gmail.com</div>
            </div>
          </div>
          <div class="aside-group">
            <div class="title"><span>L</span><span>i</span><span>n</span><span>k</span><span>s</span></div>
            <div class="section">
              <div class="social-profile"><a class="text highlighted social-profile__link" href="https://github.com/byeong0430"
                  target="_blank">Github</a></div>
              <div class="social-profile"><a class="text highlighted social-profile__link" href="https://byeong0430.github.io/"
                  target="_blank">Website</a></div>
              <div class="social-profile"><a class="text highlighted social-profile__link" href="https://www.linkedin.com/in/byeong-gyu-kim/"
                  target="_blank">LinkedIn</a></div>
            </div>
          </div>
          <div class="aside-group">
            <div class="title"><span>S</span><span>k</span><span>i</span><span>l</span><span>l</span><span>s</span></div>
            <div class="section">
              <div class="text">JavaScript</div>
              <div class="text">React</div>
              <div class="text">React Native</div>
              <div class="text">Redux</div>
              <div class="text">Python</div>
              <div class="text">Django</div>
              <div class="text">Git</div>
              <div class="text">Heroku</div>
              <div class="text">AWS</div>
              <div class="text">PHP</div>
              <div class="text">Linux</div>
              <div class="text">PostgreSQL</div>
              <div class="text">MongoDB</div>
              <div class="text">MySQL</div>
              <div class="text">ExpressJS</div>
            </div>
          </div>
          <div class="aside-group">
            <div class="title"><span>L</span><span>a</span><span>n</span><span>g</span><span>u</span><span>a</span><span>g</span><span>e</span><span>s</span></div>
            <div class="section">
              <div class="text">English</div>
              <div class="text">Korean</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<!-- ---
layout: default
---

<div class="home">
  {% include about.html %}
  {% include projects.html %}
  {% include experience.html %}
  {% include skills.html %}
  {% include education.html %}
</div> -->