<main class='site-about'>
  <article class='container'>
    <a name="about"></a>
    <div class='row'>
      <img src='/assets/img/faceshot.png' alt='face pic'>
      <div class='col'>
        <div class='bio'>
          <h1>Byeong Kim</h1>
          <h2>Web Developer Student</h2>
          <p>{{ site.description }}</p>
        </div>
        <div class='contact'>
          <p>778-887-3994</p>
          <p>{{ site.email }}</p>
          <p>{{ site.github_username }}</p>
        </div>
      </div>
    </div>
  </article>
</main>