<a name="about"></a>
<div class="header-strip"></div>
<div class="about-container wrapper mtb">
  <img class="headshot" src="/assets/img/kieran-summerfeldt.jpg">
  <div class="about">
    <h2 class="name title">Kieran Summerfeldt</h2>
    <h3 class="occupation">Web Developer</h3>
    <p> Full stack developer passionate about  designing web applications that seamlessly merge functionality and efficiency  with an intuitive user experience. I want to combine beautiful design with clean code, and bring great ideas to life. When not writing code, you can find me on the tennis court or somewhere halfway across the world.</p>
    <p class="phone-number">250-896-6799</p>
    <p class="email"><a href="mailto:kieran.summerfeldt@gmail.com">kieran.summerfeldt@gmail.com</a></p>
    <p class="github">{% include icon-github.html username=site.github_username %}</p>
  </div>
</div>
