<a href="https://github.com/{{ site.github_username }}" type='button' class='btn' target='_blank'>
  <i class='fab fa-github'></i> GitHub
</a>
<a href="https://linkedin.com/{{ site.linked_in_shortUrl }}" type='button' class='btn' target='_blank'>
  <i class='fab fa-linkedin'></i> Linked In
</a>
<a href="mailto:{{ site.email }}" type='button' class='btn'>
  <i class='fas fa-envelope-square'></i> {{ site.email }}
</a>
<a href="tel:+17788873994" type='button' class='btn'>
  <i class='fas fa-phone-volume'></i> {{ site.telephone }}
</a>