<div>
  <span class='badge badge-pill badge-success'>Node</span>
  <span class='badge badge-pill badge-success'>Express</span>
  <span class='badge badge-pill badge-success'>Javascript</span>
  <span class='badge badge-pill badge-success'>HTML</span>
  <span class='badge badge-pill badge-success'>Sass</span>
  <span class='badge badge-pill badge-success'>CSS</span>
  <span class='badge badge-pill badge-success'>Bootstrap</span>
  <span class='badge badge-pill badge-success'>Postgre</span>
  <span class='badge badge-pill badge-success'>MongoDB</span>
</div>