<!-- project #1 -->
<article>
  <div class='row'>
    <section class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 project'>

    </section>
    <section class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
            Air Quality Monitoring Project
          </a>
        </h1>
        <h2>Web Application</h2>
      </header>
      <hr class="red-line">
      <main>
        <p>A web app for monitoring and displaying air pollution concentrations. Redesigned the front-end and normalised the
          <code>MySQl</code> database to reduce data redundency.</p>
        <p>Tech Stack:
          <code>Javascript/jQuery</code>,
          <code>PHP</code>,
          <code>MySQL</code>
        </p>
      </main>
      <footer>
        <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
          <img src='/assets/img/projects/rio_tinto.png' alt='rio tinto'>
        </a>
      </footer>
    </section>
  </div>
</article>
<!-- project #1 -->