<a name="projects"></a>
<main class='site-projects'>
  <article class='container'>
    <hr class='section-divider'>
    <header class='section-header' id='projects-header'>
      <i class="far fa-lightbulb"></i>Projects
    </header>
    <!-- project #1 -->
    <article>
      <main class='container'>
        <div class='row'>
          <section class='col-6 project'>
            <header>
              <h1>
                <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
                  Air Quality Monitoring Project
                </a>
              </h1>
              <h2>Web Application</h2>
            </header>
            <hr class="red-line">
            <main>
              <p>A web app for monitoring and displaying air pollution concentrations</p>
              <p>Tech Stack:
                <code>Javascript/jQuery</code>,
                <code>PHP</code>,
                <code>MySQL</code>
              </p>
            </main>
            <footer>
              <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
                <img src='/assets/img/projects/rio_tinto.png' alt='rio tinto'>
              </a>
            </footer>
          </section>
          <section class='col-6'>

          </section>
        </div>
      </main>
    </article>
    <!-- project #1 -->
  </article>
</main>