<article>
  <div class='row'>
    <section class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='https://github.com/byeong0430/you-got-owned' target='_blank'>
            You Got Owned
          </a>
        </h1>
        <h2>Mobile Application - Personal Project</h2>
        <a href='https://github.com/byeong0430/you-got-owned' role='button' class='btn' target='_blank'>
          <i class='fab fa-github'></i> GitHub
        </a>
      </header>
      <hr class="red-line">
      <main>
        <p>
          - A mobile application designed to help find out how much donation
          U.S. politicians received based on the current / selected location.
        </p>
        <p>Tech Stack:
          <code>React Native</code>,
          <code>Redux</code>,
          <code>Open-source APIs</code>
        </p>
      </main>
      <footer>
        <a href='https://github.com/byeong0430/you-got-owned' target='_blank'>
          <img src='/assets/img/projects/you_got_owned.jpg' alt='TableFourMe'>
        </a>
      </footer>
    </section>
    <section class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='https://github.com/byeong0430/Final-Project-TableFourMe' target='_blank'>
            TableFourMe (Final Project)
          </a>
        </h1>
        <h2>MVP Web Application - Lighthouse Labs</h2>
        <a href="https://github.com/byeong0430/Final-Project-TableFourMe" role='button' class='btn' target='_blank'>
          <i class='fab fa-github'></i> GitHub
        </a>
        <a href="http://www.tablefour.me/" role='button' class='btn' target='_blank'>
          <i class="far fa-newspaper"></i> Site
        </a>
      </header>
      <hr class="red-line">
      <main>
        <p>
          - A full-stack web application to manage restaurant reservations and order placements. It makes
          reservation-management a
          breeze!
        </p>
        <p>
          - I collaborated on React, Websocket, Sass, and deploying the web app on Digital Ocean.
        </p>
        <p>Tech Stack:
          <code>React</code>,
          <code>Websocket</code>,
          <code>Webpack</code>,
          <code>Babel</code>,
          <code>NodeJS</code>,
          <code>Express</code>,
          <code>PostgreSQL</code>,
          <code>Sass</code>
        </p>
      </main>
      <footer>
        <a href='http://www.tablefour.me/' target='_blank'>
          <img src='/assets/img/projects/tablefourme.gif' alt='TableFourMe'>
        </a>
      </footer>
    </section>
  </div>
  <div class='row'>
    <section class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='https://github.com/byeong0430/quickadoo' target='_blank'>
            Quickadoo (Midterm Project)
          </a>
        </h1>
        <h2>MVP Web Application - Lighthouse Labs</h2>
        <a href="https://github.com/byeong0430/quickadoo" role='button' class='btn' target='_blank'>
          <i class='fab fa-github'></i> GitHub
        </a>
        <a href="https://secret-tundra-82606.herokuapp.com/" role='button' class='btn' target='_blank'>
          <i class="far fa-newspaper"></i> Site
        </a>
      </header>
      <hr class="red-line">
      <main>
        <p>
          - A 5-day Minimum Viable Product for Lighthouse bootcamp midterm. Quickadoo is a web app intended to help
          users easily schedule
          events. It allows users to cast votes on their preferred options to determine the best time and date to meet!
        </p>
        <p>
          - I participated in all aspects of the web app: front-end and database designing & back-end route set-up.
        </p>
        <p>Tech Stack:
          <code>Javascript/jQuery</code>,
          <code>NodeJS</code>,
          <code>Express</code>,
          <code>Knex</code>,
          <code>Sass</code>,
          <code>EJS</code>
        </p>
      </main>
      <footer>
        <a href='https://secret-tundra-82606.herokuapp.com/' target='_blank'>
          <img src='/assets/img/projects/quickadoo.png' alt='Quickadoo'>
        </a>
      </footer>
    </section>
    <section class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
            Air Quality Monitoring Project
          </a>
        </h1>
        <h2>Web Application - WSP</h2>
        <a href="http://67.231.17.48/clients/Rio_Tinto_Alcan/" role='button' class='btn' target='_blank'>
          <i class="far fa-newspaper"></i> Site
        </a>
      </header>
      <hr class="red-line">
      <main>
        <p>
          - A web application for monitoring and displaying air pollution concentrations. Users may analyse & download
          tables and graphs
          of real-time air pollution statistics.
        </p>
        <p>
          - I redesigned the front-end and normalised the
          <code>MySQL</code> database to reduce data redundancy.
        </p>
        <p>Tech Stack:
          <code>Javascript/jQuery</code>,
          <code>PHP</code>,
          <code>MySQL</code>
        </p>
      </main>
      <footer>
        <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
          <img src='/assets/img/projects/rio_tinto.png' alt='rio tinto'>
        </a>
      </footer>
    </section>
  </div>
</article>