<article>
  <div class='row'>
    <section class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='https://github.com/byeong0430/quickadoo' target='_blank'>
            Quickadoo (Midterm Project)
          </a>
        </h1>
        <h2>MVP Web Application - Lighthouse Labs</h2>
      </header>
      <hr class="red-line">
      <main>
        <p>A 5-day Minimum Viable Product for Lighthouse bootcamp midterm.
          Quickadoo is a web app intended to help users quickly and easily schedule events within a group.
          It allows users to cast votes on their preferred options to determine the best time and date to meet!
          <p>Tech Stack:
            <code>Javascript/jQuery</code>,
            <code>NodeJS</code>,
            <code>Express</code>,
            <code>Knex</code>,
            <code>Sass</code>,
            <code>EJS</code>
          </p>
      </main>
      <footer>
        <a href='https://github.com/byeong0430/quickadoo' target='_blank'>
          <img src='/assets/img/projects/quickadoo.png' alt='tinyApp'>
        </a>
      </footer>
    </section>
    <section class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='https://github.com/byeong0430/LHS-Project-2-tinyApp' target='_blank'>
            TinyApp Project
          </a>
        </h1>
        <h2>Web Application - Lighthouse Labs</h2>
      </header>
      <hr class="red-line">
      <main>
        <p>First Lighthouse bootcamp web app that allows users to shorten long URLs and to see site traffic statistics
          <p>Tech Stack:
            <code>Javascript/jQuery</code>,
            <code>NodeJS</code>,
            <code>Express</code>
          </p>
      </main>
      <footer>
        <a href='https://github.com/byeong0430/LHS-Project-2-tinyApp' target='_blank'>
          <img src='/assets/img/projects/tinyApp.png' alt='tinyApp'>
        </a>
      </footer>
    </section>
    <section class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 project'>
      <header>
        <h1>
          <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
            Air Quality Monitoring Project
          </a>
        </h1>
        <h2>Web Application - WSP</h2>
      </header>
      <hr class="red-line">
      <main>
        <p>A web app for monitoring and displaying air pollution concentrations. Redesigned the front-end and normalised the
          <code>MySQL</code> database to reduce data redundancy.</p>
        <p>Tech Stack:
          <code>Javascript/jQuery</code>,
          <code>PHP</code>,
          <code>MySQL</code>
        </p>
      </main>
      <footer>
        <a href='http://67.231.17.48/clients/Rio_Tinto_Alcan/' target='_blank'>
          <img src='/assets/img/projects/rio_tinto.png' alt='rio tinto'>
        </a>
      </footer>
    </section>
  </div>
</article>