<a name="skills"></a>
<main class='site-skills'>
  <article class='container'>
    <hr class='section-divider'>
    <header class='section-header' id='skills-header'>
      <i class="fas fa-code"></i>Skills
    </header>
    <!-- skills #1 -->
    <div class="d-flex flex-wrap justify-content-center">
      <article>
        <p>Javascript</p>
        <img src='/assets/img/skills/Javascript.png'>
      </article>
      <article>
        <p>Node</p>
        <img src='/assets/img/skills/Node.png'>
      </article>
      <article>
        <p>Express</p>
        <img src='/assets/img/skills/Express.png'>
      </article>
      <article>
        <p>Python</p>
        <img src='/assets/img/skills/Python.png'>
      </article>
      <article>
        <p>R</p>
        <img src='/assets/img/skills/R.png'>
      </article>
      <article>
        <p>Postgres</p>
        <img src='/assets/img/skills/Postgres.png'>
      </article>
      <article>
        <p>MySQL</p>
        <img src='/assets/img/skills/MySQL.png'>
      </article>
      <article>
        <p>MongoDB</p>
        <img src='/assets/img/skills/MongoDB.png'>
      </article>
      <article>
        <p>Sass</p>
        <img src='/assets/img/skills/Sass.png'>
      </article>
      <article>
        <p>CSS</p>
        <img src='/assets/img/skills/CSS.png'>
      </article>
      <article>
        <p>HTML</p>
        <img src='/assets/img/skills/HTML.png'>
      </article>
      <article>
        <p>Bootstrap</p>
        <img src='/assets/img/skills/Bootstrap.png'>
      </article>
    </div>
    <!-- skills #1 -->
  </article>
</main>