main.site-about {
  padding: 50px 0;
  article.container {
    div.row {
      /* vertically align img and profile*/
      display: flex;
      align-items: center;
      img {
        margin: 0 auto;
        width: $facepic-length;
        height: $facepic-length;
        border-radius: 80px;
      }
      div.profile {
        /* this margin should be noticeable when pic goes on top of bio */
        margin: 15px 0;
        font-family: $label-font;
      }
      section.bio {
        hr.red-line {
          margin: 10px 0;
          padding: 0;
          border: 0;
          clear: both;
          height: 0.25em;
          background: #c66;
          display: block;
          border-radius: 0.25em;
        }
        h1,
        h2 {
          margin: 0;
        }
        h1 {
          font-weight: 800;
          font-size: 2.8em;
        }
        h2 {
          font-size: 1.4em;
        }
        p {
          font-family: $para-font;
          font-size: 1.2em;
        }
      }
      a.btn,
      span.btn {
        font-family: $label-font;
        font-size: 1.2em;
        display: inline-block;
        margin-right: 0.5em;
        background-color: $btn-color;
        color: white;
      }
    }
  }
}