main.site-about {
  padding: 4em 0;
  article.container {
    div.row {
      // border:1px red solid;
      padding: 15px;
      /* vertically align img and profile*/
      display: flex;
      align-items: center;
      img {
        margin: 0 auto;
        width: $facepic-length;
        height: $facepic-length;
        border-radius: 80px;
      }
      div.profile {
        /* this margin should be noticeable when pic goes on top of bio */
        margin: 15px 0;
      }
      section.bio {
        h1,
        h2 {
          margin: 0;
        }
        h1 {
          @extend %title-style;
        }
        h2 {
          @extend %sub-title-style;
        }
        p {
          @extend %para-style;
        }
      }
      a.btn {
        font-family: $label-font;
        font-size: 1.1em;
        display: inline-block;
        margin: 0 0.5em 0.5em 0;
        padding: 0.3em;
        background-color: $btn-color;
        color: white;
      }
    }
  }
}