nav.navbar {
  font-family: $label-font;
  font-weight: 800;
  a.navbar-brand {
    font-size: 2em;
  }
  #navbarNav {
    font-size: 1.5em;
    span {
      display: inline-block;
      width: 1.2em;
    }
  }
}

@media (min-width: 991px) {
  #navbarNav {
    display: flex;
    justify-content: flex-end;
  }
}