nav.navbar {
  @extend %shadow-effect;
  font-family: $label-font;
  font-weight: 800;
  a.navbar-brand {
    font-size: 1.8em;
  }
  i {
    font-size: 2.2em;
    margin-right: 0.3em;
  }
  ul.navbar-nav {
    flex-direction: row;
  }
}

@media (max-width: 991px) {
  nav.navbar {
    a.navbar-brand {
      font-size: 1.3em;
    }
    i {
      font-size: 1.4em;
      margin-right: 0.4em;
    }
  }
}