main.site-projects {
  header#projects-header {
    @extend %header-style;
  }
  main.container {
    section.project {
      margin: $exp-top-bott-margin;
      h1,
      h2 {
        margin: 0;
      }
      h1 {
        @extend %sub-title-style;
        font-weight: 800;
        a {
          color: inherit;
        }
      }
      h2 {
        @extend %sub-title-style;
      }
      p,
      li {
        @extend %para-style;
        display: inline-block;
      }
      img {
        width: 100%;
        padding: 2px;
        border-radius: 1em;
        &:hover {
          @include stylise-border(2px, #f5c6cb);
        }
      }
    }
  }
}