main.site-skills {
  header#skills-header {
    @extend %header-style;
  }
  div.d-flex {
    margin: 1em 0;
    article {
      margin: 0.3em;
      padding: 0.5em;
      border-radius: 1em;
      background-color: white;
      text-align: center;
      p {
        margin: 0 0 0.5em;
        font-family: $label-font;
        font-weight: 800;
        font-size: 1.3em;
      }
      img {
        @extend %skill-img;
      }
    }
  }
}