@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
$label-font: 'Nunito',
sans-serif;
%title-style {
  font-family: $label-font;
  font-weight: 800;
  font-size: 2.8em;
}

%header-style {
  @extend %title-style;
  text-align: center;
}

%sub-title-style {
  font-family: $label-font;
  font-size: 1.3em;
}

@import url('https://fonts.googleapis.com/css?family=Bitter');
$para-font: 'Bitter',
georgia,
serif;
%para-style {
  font-family: $para-font;
  font-size: 1.1em;
}

%hr-redline {
  margin: 10px 0;
  padding: 0;
  border: 0;
  clear: both;
  height: 0.25em;
  background: #c66;
  display: block;
  border-radius: 0.25em;
}

$background-colour: #F9F4ED;
$facepic-length: 277px;
$btn-color: #444;
$timeline-color: rgb(85, 81, 81);
$exp-top-bott-margin: 15px 0;