$background-colour: #F9F4ED;
@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
$label-font: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Bitter');
$para-font: 'Bitter', georgia, serif;
$facepic-length: 290px;
$btn-color: #444;